@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Josefin+Sans&family=Mulish:wght@500&family=Oleo+Script&family=Playfair+Display&display=swap");
ul {
  list-style-type: none;
  text-align: right;
  padding-right: 90px;
}

li {
  display: inline;
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: white;
}
* {
  /* pour header soit en haut */
  margin: 0;
  padding: 0;
}
header {
  background-color: #2071b3;
  height: 80px;
}
li a:hover {
  color: black;
  border-bottom: 2px solid #000000;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* -----------------------------home page--------------------------------- */
body {
  font-family: Mulish;
}
.section1 {
  background-image: url("../images/homeimg.jpg");
  background-size: cover;
  background-position: center; /* Centre l'image horizontalement */
  height: 200vh;
}
.container1 {
  margin-top: 0px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-div {
  margin-top: 50px;
  font-family: Oleo Script;
  font-size: 64px;
  width: 653px;
  height: 185px;
  margin-bottom: 200px;
}
.description-div {
  font-size: 32px;
  width: 964px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 200px;
}
.btn-voir-catalogue {
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.btn-voir-catalogue:hover {
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-voir-catalogue:active {
  background-color: rgba(0, 0, 0, 0.5);
}
/* section temoignage */
.section-temoignages {
  margin-left: 120px;
  margin-right: 120px;
}
.temoignages-title,
.faq-title {
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  margin-bottom: 70px;
}
.temoignages-container {
  color: #fff;
  background-image: url(../images/back-temoin.jpg);
  padding: 20px 20px;
  background-size: cover;
}
.btn-membre {
  margin-top: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  /* background-color: #d9d9d9; */
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-membre:hover {
  background-color: #380c36c3;
  color: #fff;
}
.btn-membre:active {
  background-color: #393939;
  color: #fff;
}
.p2 {
  color: #fffb00;
  font-style: italic;
}
.div-btn-membre {
  display: flex;
  justify-content: flex-end;
}
.temoignage {
  display: flex;
  gap: 70px;
  align-items: center;
}
.right-content {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.img-div {
  width: 450px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-div2 {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-div3 {
  width: 380px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-div3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section faq */
.answers {
  display: none;
}
.section-faq {
  margin-left: 120px;
  margin-right: 120px;
}

.visible-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.visible-content img:hover {
  cursor: pointer;
  height: 55px;
  width: 55px;
}
.toggle-content {
  background: #ebebeb;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  overflow: hidden;
}
/* section footer */
.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ebebeb;
  height: 300px;
}
.footer-container p {
  text-align: center;
}
.social-media-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.social-media-div img:hover {
  width: 27px;
  height: 27px;
}
.copyright-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #6a6262;
}

.last-div-footer {
  display: flex;
  justify-content: space-around;
}
.last-div-footer a {
  text-decoration: none;
  color: black;
}
.last-div-footer a:hover {
  text-decoration: underline;
}
/* _______________________________catalogue page_______________________________________ */
/* menu catalogue */
.menu-categorie-div {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
#div-categorie-femme {
  background-image: url("../images/women.jpg");
}
#div-categorie-enfant {
  background-image: url("../images/kids.jpg");
}
#div-categorie-homme {
  background-image: url("../images/men.jpg");
}
.div-categorie button {
  border: 3px solid #ffffff;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.div-categorie button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.div-categorie button:hover {
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.1);
}
.div-categorie button:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.div-categorie {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 500px;
}
/* --------------------------------------------------catalogue pages---------------------------------------- */
.categorie-title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 70px;
}
.articles-row {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-p2 {
  font-weight: bold;
  color: #907f7f;
}
/* ----------------connexion page------------------------------------------------------ */
.cnx-section,
.catalogue {
  margin-left: 120px;
  margin-right: 120px;
}
.conx-div {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.right-div {
  line-height: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
}
.right-div p {
  text-align: center;
}
.div-menu-cnx {
  display: flex;
  justify-content: space-evenly;
}
.div-menu-cnx button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  font-size: 20px;
}
.div-menu-cnx button:hover {
  border-bottom: 2px solid #000000;
  cursor: pointer;
  color: #6a6262;
}
.nom-prenom-div {
  display: flex;
  gap: 137px;
}
.nom-prenom-div div {
  display: flex;
  flex-direction: column;
}
.input {
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  color: #333;
  padding: 5px;
  outline: none;
  width: 100%;
}
.input:hover {
  border-bottom: 3px solid #000000;
}
.registre-btn-div {
  display: flex;
  justify-content: center;
}
.registre-btn-div input[type="button"] {
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(184, 48, 48);
  width: 180px;
}
.registre-btn-div input[type="button"]:hover {
  background-color: #000000;
}
/* -----------------media query----------------------------------------------- */
@media screen and (max-width: 768px) {
  /* home page */
  .section1 {
    height: auto; /* Changez la hauteur en automatique pour que le contenu détermine la taille */
    background-size: contain; /* Ajustez la taille de l'image pour s'adapter à la section */
    background-position: top;

    /* background-repeat: no-repeat; */
  }
  .title-div {
    margin-top: 50px;
    font-family: Oleo Script;
    font-size: 32px;
    width: 300px;
    height: 185px;
    margin-bottom: 200px;
  }
  .description-div {
    font-size: 16px;
    width: 350px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 200px;
  }
  .temoignages-title,
  .faq-title {
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 35px;
  }
  .section-temoignages {
    margin-left: 40px;
    margin-right: 40px;
  }
  .temoignages-container {
   
    padding: 10px 10px;
    /* background-size: cover; */
    background-size: contain;
  }
  .img-div,
  .img-div2,
  .img-div3 {
    display: none;
  }
  .right-content {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  .btn-membre {
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    /* background-color: #d9d9d9; */
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ebebeb;
    height: 150px;
    font-size: 12px;
  }















  /* burger menu */
  .menu-desktop {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
  }

  .menu-desktop.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
